.book {
    padding: 20px;
    border: 1px solid #999;
    border-top: none;
}
.author {
    font-size: 16px;
    font-weight: normal;
}
.row {
    display: flex;
    justify-content: space-between;
}
.title {
    display: inline-block;
    font-size: 20px;
}
.startReading {
    display: inline-block;
    border: none;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    text-decoration: underline;
    outline: none;
    cursor: pointer;
}
.startReading::after{
    content: url('./../image/right-arrow.svg');
}
.finishReading {
    display: inline-block;
    border: none;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    text-decoration: underline;
    outline: none;
    cursor: pointer;
}
.finishReading::after{
    content: url('./../image/right-arrow.svg');
}
.return {
    display: inline-block;
    border: none;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    text-decoration: underline;
    outline: none;
    cursor: pointer;
}
.return::after{
    content: url('./../image/back.svg');
}
.tag {
    margin-right: 5px;
    border: none;
    background-color: #ddd;
    outline: none;
    cursor: pointer;
}
.empty {
    height: 300px;
    font-size: 20px;
    text-align: center;
    line-height: 300px;
    border: 1px solid #999;
    border-top: none;
}